.activeaboutus {
    text-transform: uppercase;
    background-color: #8B4513;
}
   
h1.aboutus {
    text-align: 15px;
    margin: auto;
    width: auto;
    line-height: 280%;
    height: 137px;
    font-size: 50px;
    background-color: #8B4513;
    color: white;
    text-shadow: 5px 10px 3px rgba(0,0,0,0.5);
}

h2{
    color: #8B4513;
    margin: relative;
    font-size: 24px;
}
.parker {
    font-size: 16px;
    line-height: 0.9;
    text-align: center;
    margin: auto;
    padding: 10px;
}
.raquel {
    font-size: 16px;
    line-height: 0.9;
    text-align: center;
    margin: auto;
    padding: 10px;
}
.marta {
    font-size: 16px;
    line-height: 0.9;
    text-align: center;
    margin: auto;
    padding: 10px;
}

#subscription-form{
    color: white;
    background-color: #8B4513;
    opacity: 0.78;
    text-align: center;
    position: relative;
    padding: 30px;
    text-shadow: 5px 10px 3px rgba(0,0,0,0.5);
    border: #8B4513 3px solid;
}
.button{
    background-color: rgb(70, 35, 10);
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

a:hover.mainarticle{
    background-color:transparent;
}

img:hover.efect{
    border: black 3px solid;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;
    filter: grayscale(0);
    background-color: rgb(70, 35, 10);
}
a:hover.efectlink{
    background-color: transparent;
}
img{
    filter: grayscale(100%);
    border-radius: 5px;
    transition: all .25s ease-in-out;
}
section{
    text-align: justify;
    column-count: 3;
    column-gap: 5rem;
    column-rule: 1px solid black;

}
