.activecareer {
    text-transform: uppercase;
    background-color: #256294;
}
#box1{
    font-size: 16px;
    line-height: 1.3;
    color: black;
    text-align: center;
    width: 50%;
    margin: auto; 
    padding: auto;
}
#box2 {
    font-size: 16px;
    line-height: 1.3;
    color: black; 
    text-align: justify;
    width: 50%;
    margin: auto;
    padding: auto;
}
#box3 {
    font-size: 16px;
    line-height: 1.3;
    color: black;
    text-align: justify;
    width: 50%;
    margin: auto;
    padding: auto;
}
h1.career{
    text-align: 15px;
    margin: auto;
    width: auto;
    line-height: 280%;
    height: 137px;
    font-size: 50px;
    background-color: #256294;
    color: white;
    text-shadow: 5px 10px 3px rgba(0,0,0,0.5);
}
h2.career{
    color: #256294;
    margin: relative;
    font-size: 22px;
}
h3.career{
    color:#256294; 
    font-size: 16px;
}
#subscription-form{
    color: white;
    background-color: #256294;
    opacity: 0.78;
    text-align: center;
    position: relative;
    padding: 30px;
    text-shadow: 5px 10px 3px rgba(0,0,0,0.5);
    border: #256294 3px solid;
}
.button{
    background-color: #0b1d2c;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
a:hover.mainarticle{
    background-color:transparent;