h1.contactus{
    text-align: 15px;
    margin: auto;
    width: auto;
    line-height: 280%;
    height: 137px;
    font-size: 50px;
    background-color: #50396b;
    color: white;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.1),
                 -10px 20px 5px rgba(0,0,0,0.1);
}
legend {
    font-size: 22px;
    font-style: italic;
}
.form-container {
    padding: 10px;
}
.form-input {
    margin-top: 5px;
}