.activecontactus {
    text-transform: uppercase;
    background-color: #836d9c;
}
h1.contactus{
    text-align: 15px;
    margin: auto;
    width: auto;
    line-height: 280%;
    height: 137px;
    font-size: 50px;
    background-color: #50396b;
    color: white;
    text-shadow: 5px 10px 3px rgba(0,0,0,0.5);
}
h2.health{
    color: #50396b;
    margin: relative;
    font-size: 22px;
}
legend {
    font-size: 22px;
    font-style: italic;
}
.form-container {
    padding: 10px;
}
.form-input {
    margin-top: 5px;
}
#subscription-form{
    color: white;
    background-color: #50396b;
    opacity: 0.78;
    text-align: center;
    position: relative;
    padding: 30px;
    text-shadow: 5px 10px 3px rgba(0,0,0,0.5);
    border: #50396b 3px solid;
}
.button{
    background-color: #2e213d;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
a:hover.mainarticle{
    background-color:transparent;
}
