.activeindex {
    text-transform: uppercase;
    background-color: #395e6b;
}
nav{
    margin: auto;
    display: block;   
    padding: 10px 0;  
    text-align: center;
    font-size: 18px;
}
nav ul li{
    margin: auto;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-align: center;
}
.secondmenu{
    background-color: #7295a1;
}
.firstmenuoption{
    position: absolute;
    display: inline-block;
    top: -150px;
    left: 50%;
    color: white;
    text-align: center;
}
.secondmenuoption{
    position: absolute;
    display: inline-block;
    top: -150px;
    left: 50%;
    color: white;
    text-align: center;
}
.thirdmenuoption{
    position: absolute;
    display: inline-block;
    top: -150px;
    left: 50%;
    color: white;
    text-align: center;
}
.fourthmenuoption{
    position: absolute;
    display: inline-block;
    top: -150px;
    left: 50%;
    color: white;
    text-align: center;
}
img{
    width: 100%;
    filter: grayscale(100%);
    border-radius: 5px;
    transition: all .25s ease-in-out;
}
a:hover{
    background-color: lightgray;
}
img:hover.efect{
    border: black 3px solid;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;
    filter: grayscale(0);
}
a:hover.efectlink{
    background-color: transparent;
}
.button{
    background-color: #2a454e;
    border-radius: 5px;
    font-size: larger;
    color: white;
}
#subscription-form{
    color: white;
    background-color: #395e6b;
    opacity: 0.78;
    text-align: center;
    position: relative;
    padding: 30px;
    text-shadow: 5px 10px 3px rgba(0,0,0,0.5);
    border: #395e6b 3px solid;
}
h1.index{
    text-align: 15px;
    margin: auto;
    width: auto;
    line-height: 200%;
    height: 385px;
    font-size: 50px;
    background-color: #395e6b;
    color: white;
    text-shadow: 5px 10px 3px rgba(0,0,0,0.5);   
}
table{
    padding-bottom: 100px;
    height: 350px;
}
table tr th{
    width: 700px;
    height: 600px auto;
    position: relative;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}