  
.activenhs {
    text-transform: uppercase;
    background-color: #3865b4;
}

h1.nhs{
    text-align: 15px;
    margin: auto;
    width: auto;
    line-height: 280%;
    height: 137px;
    font-size: 50px;
    background-color: #3865b4;
    color: white;
    text-shadow: 5px 10px 3px rgba(0,0,0,0.5);
}
h2.nhs{
    color: #3865b4;
    margin: relative;
    font-size: 22px;
} 
#box1{
    font-size: 16px;
    line-height: 1.3;
    color: black;
    text-align: justify;
    width: 50%;
    margin: auto; 
    padding: auto;
}
.blueline{
    width: 50%;
    height: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
img:hover.blueline{
    border: none;
}
img:hover.photonurse{
    border: none;
}
img:hover#slogan{
    border: none;
}
#box2{
    font-size: 16px;
    line-height: 1.3;
    color: black; 
    text-align: justify;
    width: 50%;
    margin: auto;
    padding: auto;
}
.photonurse {
    width: 50%;
    height: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#box3 {
    font-size: 16px;
    line-height: 1.3;
    color: black;
    text-align: justify;
    width: 50%;
    margin: auto;
    padding: auto;
}
#slogan{
    width: 50%;
    height: 18%;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

h4{
    color: #3865b4;
    margin: auto;
    font-size: 22px;
    width: 50%;
}

#box4{
    font-size: 16px;
    line-height: 1.3;
    color: black;
    text-align: justify;
    width: 50%;
    margin: auto;
    padding: auto;
}

.surfaces{
    border-collapse: collapse;
    text-align: center; 
    font-size: 128x;
    width: 50%;
    min-width: 350px;
    color: black;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
  
.surfaces thead tr{
    background-color: #3865b4;
    color: white;
    margin: auto;
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width: 20%;
}
  
.surfaces th{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width: 20%;
}
  
.surfaces td{
    padding: 15px 15px;
}
  
.surfaces tbody tr{
    border-bottom: 1px solid #3865b4;
}
  
.surfaces tbody tr:nth-of-type(even){
    background-color: #ebf0f9;
}
  
.surfaces tbody tr: last-of-type{
    border-bottom: 2px solid #3865b4;
}