  
.firstNavigation {
    margin: 0 auto;
    display: block;     
    padding: 10px 0 10px 0;  
    text-align: center;
    font-size: 18px;
}
    
.firstNavigation ul li {
    margin: auto;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-align: center;
}
    
.firstNavigation a {
    color: #383636;
    text-decoration: none;
    padding: 7px 14px 7px 14px;
}
    
.firstNavigation a:hover {
    background-color: lightgray;
}
    
.activenhs {
    text-transform: uppercase;
    background-color: #3865b4;
}
    
.container{
    width: 100%;
    overflow: hidden;
}
    
h1 {
    font-size: 35pt;
    text-align: center;
    color: white;
    background-color: #3865b4;
    position: relative;
    margin-right: 10;
    margin-left: 10;
    margin-top: 50px;
    margin-bottom: 10;
}
    
#NHS {
    font-size: 14pt;
    font-weight: bold;
    line-height: 1.2;
    color: #3865b4;
    text-align: justify;
    text-align: centre;
    margin-top: 20px; 
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 20px;
    padding: 10px;
}

.blueline {
    width: 45%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#box1 {
    font-size: 12pt;
    line-height: 1.3;
    color: black;
    text-align: justify;
    text-align: centre;
    margin-top: 20px; 
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 5px;
    padding: 10px;
}

#box2 {
    font-size: 12pt;
    line-height: 1.2;
    color: black;
    text-align: centre;  
    text-align: justify;
    text-align: centre;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 5px;
    padding: 10px;
}

#box2 ol {
    font-size: 13pt;
    margin-top: 5px;  
    margin-bottom: 5px;
    line-height: 1.5;
    padding: 5px;
}

#box2 li {
    margin-top: 5px; 
    margin-right: 40px;
    margin-bottom: 5px;
    line-height: 1.2;
    padding: 1px;
}

.photonurse {
    width: 42%;
    height: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#box3 {
    font-size: 12pt;
    line-height: 1.2;
    color: black;
    text-align: justify;
    text-align: centre; 
    margin-bottom: 5px;
    padding: 10px;
}

#box3 ol {
    font-size: 13pt; 
    line-height: 1.5;
    margin-top: 5px; 
    margin-right: 400px;
    margin-left: 400px;
    padding: 5px;
}

#box3 li {
    margin-bottom: 5px;
    line-height: 1.2;
    padding: 1px;
    margin-right: 400px;
    margin-left: 400px;
}

#slogan {
    width: 42%;
    height: 18%;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

h4 {
    font-size: 14pt;
    line-height: 0.2;
    text-align: centre;
    color: #3865b4;
    width: 33%;
    margin-top: 30px;
    margin-right: 450px;
    margin-left: 450px;
    padding: 5px;
}

#box4 {
    font-size: 12pt;
    line-height: 1.3;
    color: black;
    text-align: justify;
    text-align: centre;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 25px;
}

.surfaces {
    border-collapse: collapse;
    text-align: center; 
    font-size: 128x;
    width: 42%;
    min-width: 350px;
    font-color: white;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
  
  .surfaces thead tr {
    background-color: #3865b4;
    color: white;
    margin: auto;
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width: 20%;
  }
  
  .surfaces th {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width: 20%;
  }
  
  .surfaces td {
    padding: 15px 15px;
  }
  
  .surfaces tbody tr {
    border-bottom: 1px solid #3865b4;
  }
  
  .surfaces tbody tr:nth-of-type(even) {
    background-color: #ebf0f9;
  }
  
  .surfaces tbody tr: last-of-type {
    border-bottom: 2px solid #3865b4;
  }